@import '~node_modules/modern-normalize/modern-normalize.css';
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

:root {
  --color-accent: #D41443;
  --color-white: #ffffff;
  --color-main-bg: #FFB8CA;
  --color-second-bg: #FFA5BA;
  --color-footer-bg: #FFF5F6;
  --color-card-coffee: #F0D1A5;
  --color-card-green: #C2E297;
  --color-main-text: #000000;
  --color-second-text: #907E82;
  --color-button-hover: #ECEBEB;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  font-family: "DM Sans", serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.backdrop,
.backdrop-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 186, 0.5);
  opacity: 1;
  transform: scale(1);
  transition: all 250ms ease-in;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
  transform: scale(1.2);
}

.modal-geo,
.modal-form {
  width: 280px;
  min-height: 80vh;
  background-color: white;
  padding: 20px;
  border: 1px solid #D41443;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close,
.modal-close-form {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #FFA5BA;
  color: #FFA5BA;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-in;
}
.modal-close:hover, .modal-close:focus,
.modal-close-form:hover,
.modal-close-form:focus {
  border-color: #D41443;
  color: #D41443;
}

.modal-close__icon {
  fill: currentColor;
}

.no-scroll {
  overflow: hidden;
}

.hero {
  margin: 0 auto;
  padding-top: 194px;
  padding-bottom: 158px;
  background-color: #FFB8CA;
  overflow: hidden;
}
@media screen and (min-width: 320px) {
  .hero {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
.hero .container {
  position: relative;
}

.hero__icecreem {
  position: absolute;
  z-index: 1;
  right: 32px;
  bottom: -158px;
  width: 171px;
  height: 410px;
}

.hero__circle {
  position: absolute;
  left: 36px;
  bottom: -83px;
  z-index: 0;
  width: 346px;
  height: 344px;
  background-color: #FFA5BA;
  border-radius: 50%;
}

.hero__title {
  position: relative;
  z-index: 2;
  max-width: 218px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26;
  line-height: 1.1538461538;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.hero__title--accent {
  font-size: 48px;
  line-height: 96.5%;
  color: #D41443;
}

.hero__list {
  display: flex;
}

.hero__item {
  margin-right: 9.2px;
}

.hero__link {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 61.2px;
  height: 24px;
  font-weight: 400;
  font-size: 8;
  line-height: 1.25;
  color: #ffffff;
  background-color: #D41443;
  border-radius: 20px;
}
.hero__link--white {
  width: 82.8px;
  color: #D41443;
  background-color: #ffffff;
}

.quantity {
  display: none;
}

.hero__description {
  display: none;
}

.hero__button {
  display: none;
}

.about {
  background-color: #FFF5F6;
  text-align: center;
  background-image: url(/src/images/mobile-about-milk.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 80%;
}
@media screen and (min-width: 320px) {
  .about {
    background-image: url(/src/images/mobile-about-milk.png);
  }
}
@media screen and (min-width: 320px) and (min-device-pixels-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(/src/images/mobile-about-milk@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .about {
    background-image: url(/src/images/desktop-about-milk.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(/src/images/desktop-about-milk@2x.png);
  }
}

.about-containeir {
  margin: 0 auto;
  width: 100%;
}

.advantages {
  padding-top: 19px;
  padding-bottom: 49px;
  background-color: var(--color-main-bg);
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 33px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 20px;
    padding-bottom: 69px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
  }
}

.advantages__item {
  padding: 8px;
}
.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantages__item:not(:last-child) {
    margin-right: 52px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item:not(:last-child) {
    margin-right: 32px;
  }
}
.advantages__item::before {
  display: block;
  content: "";
  height: 50px;
  background-repeat: no-repeat;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages__item::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item::before {
    margin-bottom: 40px;
  }
}
.advantages__item:nth-child(1)::before {
  background-image: url(../images/adv-milk.png);
}
.advantages__item:nth-child(2)::before {
  background-image: url(../images/adv-apples.png);
}
.advantages__item:nth-child(3)::before {
  background-image: url(../images/adv-heart.png);
}

.advantages__title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.46;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__title {
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.grid__img-height-1 {
  height: 138px;
  width: 138px;
  display: block;
}
.grid__img-height-2 {
  height: 283px;
  width: 283px;
  display: block;
}

.footer {
  padding-top: 60px;
  padding-bottom: 5px;
  background-color: #FFF5F6;
}

.footer .container {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    margin-bottom: 60px;
    align-items: flex-end;
  }
}

.footer__subtitle {
  width: 230px;
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.167;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer__subtitle {
    width: 340px;
    font-size: 26px;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subtitle {
    width: 100%;
    font-size: 30px;
  }
}

.footer__title {
  width: 200px;
  font-family: "Titan One";
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 48px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title {
    width: 100%;
    font-size: 58px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__thumb {
    margin-top: 52px;
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.social__item:not(:last-child) {
  margin-right: 28px;
}

.social__icon {
  fill: #FFA5BA;
  transition: fill 250ms ease-in;
}
.social__item:hover .social__icon, .social__item:focus .social__icon {
  fill: #D41443;
}

.footer__contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    margin-bottom: 0;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact {
    font-size: 16px;
  }
}

.footer__tel {
  color: #D41443;
  transition: color 250ms ease-in;
}
.footer__tel:hover, .footer__tel:focus {
  color: #FFA5BA;
}

.copy__thumb {
  border-top: 1px solid #e1e1e1;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .copy__thumb {
    padding-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .copy__thumb {
    padding-top: 7px;
  }
}

.footer__copy {
  width: 140px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: #907E82;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer__copy {
    width: auto;
  }
}/*# sourceMappingURL=index.css.map */