// CSS Vars
:root {
  --color-accent: #D41443;
  --color-white: #ffffff;
  --color-main-bg: #FFB8CA;
  --color-second-bg: #FFA5BA;
  --color-footer-bg: #FFF5F6;
  --color-card-coffee: #F0D1A5;
  --color-card-green: #C2E297;
  --color-main-text: #000000;
  --color-second-text: #907E82;
  --color-button-hover: #ECEBEB;
  --icon-color: #fea5bb;
  --backdrop-color: rgba(75, 41, 49, 0.774);
}

//  SASS Vars
$color-accent: #D41443;
$color-white: #ffffff;
$color-main-bg: #FFB8CA;
$color-second-bg: #FFA5BA;
$color-footer-bg: #FFF5F6;
$color-card-coffee: #F0D1A5;
$color-card-green: #C2E297;
$color-main-text: #000000;
$color-second-text: #907E82;
$color-button-hover: #ECEBEB;
$icon-color: #fea5bb;
$backdrop-color: rgba(75, 41, 49, 0.774);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);