<section class="about">
  <div class="about__container container">
    <p class="about__text">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__flexbox flexbox">
      <picture class="about__picture">
        <img
          class="img"
          srcset="
            ../images/mobile-about-cow.png      280w,
            ../images/mobile-about-cow@2x.png   650w,
            ../images/tablet-about-cow.png      336w,
            ../images/tablet-about-cow@2x.png   672w,
            ../images/desktop-about-cow.png     501w,
            ../images/desktop-about-cow@2x.png 1002w
          "
          sizes="
            (min-width: 1280px) 501w,
            (min-width: 768px) 336w,
            (min-width: 320px) 280w
            "
          src="../images/mobile-about-cow.png"
          alt="глечик з молоком та корова"
        />
      </picture>
      <div class="about__more-text">
        <div class="about__text-item">
          <p class="text-item__par">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>
        </div>
        <div class="about__text-item">
          <p class="text-item__par">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.
          </p>
        </div>
        <div class="about__text-item">
          <p class="text-item__par">Aliquam erat volutpat. Aenean accumsan.</p>
        </div>
        <button class="about__btn">Read more</button>
      </div>
    </div>
  </div>
</section>
