<h2 class="title visually-hidden">Contacts</h2>

<div class="carousel hidden-sm-and-up" data-flickity='{ "wrapAround": true }'>
<div class="container contacts__container hidden-xs-only">
    <ul class="contacts__list-items">
        <li id="chicago" class="contacts__content text animate__animated">
            <div class="contacts__subtitle-holder contacts__subtitle-holder--primary">
                <p class="contacts__subtitle">CAFE</p>
            </div>
            <p class="contacts__text contacts__text--primary">Chicago</p>
            <p class="contacts__text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="contacts__item">
                <div class="contacts__item-row">
                    <p class="contacts__text contacts__text--primary">Monday - Friday</p>
                    <p class="contacts__text contacts__text--accent">06:00 AM - 10:00 PM</p>
                </div>
                <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
                <p class="contacts__text contacts__text--accent">08:00 AM - 16:00 PM</p>
            </div>
            <address class="contacts__address contacts__link">
                <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </address>
        </li>
        <li id="los-angeles" class="contacts__content text animate__animated">
            <div class="contacts__subtitle-holder contacts__subtitle-holder--secondary">
                <p class="contacts__subtitle">FOODTRUCK</p>
            </div>
            <p class="contacts__text contacts__text--primary">Los Angeles</p>
            <p class="contacts__text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="contacts__item">
                <div class="contacts__item-row">
                    <p class="contacts__text contacts__text--primary">Monday - Friday</p>
                    <p class="contacts__text contacts__text--accent">06:00 AM - 10:00 PM</p>
                </div>
                <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
                <p class="contacts__text contacts__text--accent">08:00 AM - 16:00 PM</p>
            </div>
            <address class="contacts__address contacts__link">
                <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </address>
        </li>
        <li id="new-york" class="contacts__content text animate__animated">
            <div class="contacts__subtitle-holder contacts__subtitle-holder--primary">
                <p class="contacts__subtitle">CAFE</p>
            </div>
            <p class="contacts__text contacts__text--primary">New York</p>
            <p class="contacts__text-desc">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="contacts__item">
                <div class="contacts__item-row">
                    <p class="contacts__text contacts__text--primary">Monday - Friday</p>
                    <p class="contacts__text contacts__text--accent">06:00 AM - 10:00 PM</p>
                </div>
                <p class="contacts__text contacts__text--primary">Saturday - Sunday</p>
                <p class="contacts__text contacts__text--accent">08:00 AM - 16:00 PM</p>
            </div>
            <address class="contacts__address contacts__link">
                <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </address>
        </li>
    </ul>
</div>

<div class="contacts__btn-wrapper">
    <button data-target="modal-location" data-toggle="modal"
        class="btn btn--secondary contacts__btn contacts__btn--secondary" type="button">
        Our Locations
    </button>
    </div>
    <button class="btn btn--primary contacts__btn contacts__btn--primary" type="button" data-target="modal-franchise"
        data-toggle="modal">
        Franchise
        
    </button>
</section>