<section class="contacts">
  <div class="container contacts__container">
    <h2 class="title visually-hidden">Contacts</h2>
    <ul class="contacts__list-items">
      <li class="contacts__content text">
        <div
          class="contacts__subtitle-holder contacts__subtitle-holder--primary"
        >
          <p class="contacts__subtitle">CAFE</p>
        </div>
        <p class="contacts__text contacts__text--primary">Chicago</p>
        <p class="contacts__text-desc">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts__item">
          <div class="contacts__item-row">
            <p class="contacts__text contacts__text--primary">
              Monday - Friday
            </p>
            <p class="contacts__text contacts__text--accent">
              06:00 AM - 10:00 PM
            </p>
          </div>
          <p class="contacts__text contacts__text--primary">
            Saturday - Sunday
          </p>
          <p class="contacts__text contacts__text--accent">
            08:00 AM - 16:00 PM
          </p>
        </div>
        <address class="contacts__address contacts__link">
          <a class="contacts__link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="contacts__content text">
        <div
          class="contacts__subtitle-holder contacts__subtitle-holder--secondary"
        >
          <p class="contacts__subtitle">FOODTRUCK</p>
        </div>
        <p class="contacts__text contacts__text--primary">Los Angeles</p>
        <p class="contacts__text-desc">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts__item">
          <div class="contacts__item-row">
            <p class="contacts__text contacts__text--primary">
              Monday - Friday
            </p>
            <p class="contacts__text contacts__text--accent">
              06:00 AM - 10:00 PM
            </p>
          </div>
          <p class="contacts__text contacts__text--primary">
            Saturday - Sunday
          </p>
          <p class="contacts__text contacts__text--accent">
            08:00 AM - 16:00 PM
          </p>
        </div>
        <address class="contacts__address contacts__link">
          <a class="contacts__link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="contacts__content text">
        <div
          class="contacts__subtitle-holder contacts__subtitle-holder--primary"
        >
          <p class="contacts__subtitle">CAFE</p>
        </div>
        <p class="contacts__text contacts__text--primary">New York</p>
        <p class="contacts__text-desc">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts__item">
          <div class="contacts__item-row">
            <p class="contacts__text contacts__text--primary">
              Monday - Friday
            </p>
            <p class="contacts__text contacts__text--accent">
              06:00 AM - 10:00 PM
            </p>
          </div>
          <p class="contacts__text contacts__text--primary">
            Saturday - Sunday
          </p>
          <p class="contacts__text contacts__text--accent">
            08:00 AM - 16:00 PM
          </p>
        </div>
        <address class="contacts__address contacts__link">
          <a class="contacts__link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>
  
  <div class="contacts__btn-wrapper">
    <button
      class="btn btn--secondary contacts__btn contacts__btn--secondary"
      type="button"
      data-geo-open
    >
      Our Locations
      <svg class="contacts__btn-icon" width="10" height="20">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>

    <button
      class="btn btn--primary contacts__btn contacts__btn--primary form"
      type="button"
      data-target="modal-franchise"
      data-toggle="modal"
      data-form-open
    >
      Franchise
      <svg class="contacts__btn-icon" width="10" height="20">
        <use href="./images/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
  </div>
</section>
