<div class="container__rc">
    <section class=" rc__section section">
        <h2 class="rc__title">
            customer rewievs
        </h2>
        <div class="wrapper">
            <div class="rc__slider">
                <div class="slide active">
                    <img class="icon" srcset="
                                  ./images/customers/CR.png     1x,
                                  ./images/customers/CR@2x.png  2x,
                                  ./images/customers/CR@3x.png  3x
                    " src="./images/customers/CR.png" alt="Emily" />

                </div>
                <div class="slide ">
                    <img class="icon" srcset="
                          ./images/customers/CR2.png     1x,
                          ./images/customers/CR2@2x.png  2x,
                          ./images/customers/CR2@3x.png  3x
                    " src="./images/customers/CR2.png" alt="Afrodita" />
                </div>
                <div class="slide ">
                    <img class="icon" srcset="
                          ./images/customers/CR3.png     1x,
                          ./images/customers/CR3@2x.png  2x,
                          ./images/customers/CR3@3x.png  3x
                    " src="./images/customers/CR3.png" alt="Solomija" />
                </div>

                <div id="btn-prev"><</div>
                <div id="btn-next">></div>
            </div>
            <div class="feedback active">
                <div class="rc__text-thumb">
                    <div class="rc__bottom-border">
                        <p class="rc__text">

                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In hendrerit nulla
                            quam
                            nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <div class="rc__dot_block">
                    <span class="dots "></span>
                    <span class="dots"></span>
                    <span class="dots"></span>
                </div>

                <h3 class="rc-subtitle">
                    Emily, Los Angeles
                </h3>
            </div>

            <div class="feedback">
                <div class="rc__text-thumb">
                    <div class="rc__bottom-border">
                        <p class="rc__text">

                            Ha ho lithibelo tsa lipopae. Thuto e 'ngoe le e 'ngoe le litšeho tse ncha. Ofisi ha e na
                            nako ho feta hona joale, merero

                            ea bareki. Pele ho tsohle, kea leboha ka mokhoa oa hau oa mahala kapa litšeho.
                        </p>
                    </div>
                </div>
                <div class="rc__dot_block">
                    <span class="dots "></span>
                    <span class="dots"></span>
                    <span class="dots"></span>
                </div>


                <h3 class="rc-subtitle">
                    Afrodita, Milan
                </h3>
            </div>

            <div class="feedback">
                <div class="rc__text-thumb">
                    <div class="rc__bottom-border">
                        <p class="rc__text">
                            I love ice cream, so I bought it for private use at home.
                            Namely, I ate ice cream first and then a cup,
                            so tastier. Although once she tried to eat on the contrary, as a result her hands, cupboard
                            and ceiling were dirty.
                        </p>
                    </div>
                </div>
                <div class="rc__dot_block">
                    <span class="dots "></span>
                    <span class="dots"></span>
                    <span class="dots"></span>
                </div>

                <h3 class="rc-subtitle">
                    Solomija, Lviv
                </h3>
            </div>


            <div class="rc__dots_block">
                <span class="dot active_dot">
                    <svg class="dot__current">
                        <use href="./images/sprite.svg#rc__dot-icon"></use>
                    </svg>
                </span>
                <span class="dot">
                    <svg class="dot__current">
                        <use href="./images/sprite.svg#rc__dot-icon"></use>
                    </svg>
                </span>
                <span class="dot">
                    <svg class="dot__current">
                        <use href="./images/sprite.svg#rc__dot-icon"></use>
                    </svg>
                </span>
            </div>
        </div>
    </section>
    
    <script src="index.js"></script>
