<section class="customers">
  <div class="container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            srcset="
              ./images/customers/CR.png    1x,
              ./images/customers/CR@2x.png 2x,
              ./images/customers/CR@3x.png 3x
            "
            src="./images/customers/CR.png"
            alt="Emily"
            class="customers__photo"
          />
          <div class="review__thumb">
            <p class="customers__rewiev">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
          <div class="customers__thumb">
            <h3 class="customers__title">Emily, Los Angeles</h3>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            srcset="
              ./images/customers/CR2.png    1x,
              ./images/customers/CR2@2x.png 2x,
              ./images/customers/CR2@3x.png 3x
            "
            src="./images/customers/CR2.png"
            alt="Afrodita"
            class="customers__photo"
          />
          <div class="review__thumb">
            <p class="customers__rewiev">
              Ha ho lithibelo tsa lipopae. Thuto e 'ngoe le e 'ngoe le litšeho
              tse ncha. Ofisi ha e na nako ho feta hona joale, merero ea bareki.
              Pele ho tsohle, kea leboha ka mokhoa oa hau oa mahala kapa
              litšeho.
            </p>
          </div>
          <div class="customers__thumb">
            <h3 class="customers__title">Emily, Los Angeles</h3>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            srcset="
              ./images/customers/CR3.png    1x,
              ./images/customers/CR3@2x.png 2x,
              ./images/customers/CR3@3x.png 3x
            "
            src="./images/customers/CR3.png"
            alt="Solomija"
            class="customers__photo"
          />
          <div class="review__thumb">
            <p class="customers__rewiev">
              I love ice cream, so I bought it for private use at home. Namely,
              I ate ice cream first then a cup, so tastier. Although once she
              tried to eat on the contrary, as a result her hands, cupboard and
              ceiling were dirty.
            </p>
          </div>
          <div class="customers__thumb">
            <h3 class="customers__title">Solomija, New York</h3>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
