<section class="footer">
  <div class="container">
    <div class="footer__thumb">
      <div>
        <p class="footer__subtitle">homemade ice cream made</p>
        <p class="footer__title">with passion</p>
      </div>
      <div>
        <ul class="footer__social social list">
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link link"
              aria-label="github icon"
            >
              <svg class="social__icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link link"
              aria-label="telegram icon"
            >
              <svg class="social__icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="#"
              target="_blank"
              class="social__link link"
              aria-label="facebook icon"
            >
              <svg class="social__icon" width="32" height="32">
                <use href="./images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer__contact">
          Feel free to contact
          <a href="tel:+610383766284" class="footer__tel link">
            +61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <p class="footer__copy">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</section>
