<section class="footer">
  <div class="container">
    <h2 class="visually-hidden">with passion</h2>
    <div>
      <p class="footer__subtitle" data-aos="zoom-in-down">
        homemade ice cream made
      </p>
      <p class="footer__title" data-aos="zoom-in-up">
        <span class="jump">w</span><span class="jump">i</span
        ><span class="jump">t</span><span class="jump">h</span> <br /><span
          class="jump"
          >p</span
        ><span class="jump">a</span><span class="jump">s</span
        ><span class="jump">s</span><span class="jump">i</span
        ><span class="jump">o</span><span class="jump">n</span>
      </p>
    </div>
    <div class="contact__thumb">
      <ul class="footer__social social list">
        <li class="social__item">
          <a
            href="#"
            target="_blank"
            class="social__link link"
            aria-label="github icon"
          >
            <svg class="social__icon" width="32" height="32">
              <use href="./images/sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="#"
            target="_blank"
            class="social__link link"
            aria-label="telegram icon"
          >
            <svg class="social__icon" width="32" height="32">
              <use href="./images/sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a
            href="#"
            target="_blank"
            class="social__link link"
            aria-label="facebook icon"
          >
            <svg class="social__icon" width="32" height="32">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer__contact">
        Feel free to contact
        <a href="tel:+610383766284" class="footer__tel link">
          +61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
  <div class="copy__thumb">
    <p class="footer__copy">&#169; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</section>
