<section class="gallery">
  <div class="grid">
    <div class="grid__item">
      <img class="grid__img-height-1" srcset="
                        ./images/gallery/gallery_p1.png  1x,
                        ./images/gallery/gallery_p1@2x.png 2x
                      " src="./images/gallery/gallery_p1.png" alt="image for gallery" />
    </div>
    <div class="grid__item">
      <img class="grid__img-height-1" srcset="
                        ./images/gallery/gallery_p2.png  1x,
                        ./images/gallery/gallery_p2@2x.png 2x
                      " src="./images/gallery/gallery_p2.png" alt="image for gallery" />
    </div>
    <div class="grid__item">
      <img class="grid__img-height-1" srcset="
                        ./images/gallery/gallery_p3.png  1x,
                        ./images/gallery/gallery_p3@2x.png 2x
                      " src="./images/gallery/gallery_p3.png" alt="image for gallery" />
    </div>
    <div class="grid__item">
      <img class="grid__img-height-2" srcset="
                        ./images/gallery/gallery_p4.png  1x,
                        ./images/gallery/gallery_p4@2x.png 2x
                      " src="./images/gallery/gallery_p4.png" alt="image for gallery" />
    </div>
    <div class="grid__item">
      <img class="grid__img-height-1" srcset="
                        ./images/gallery/gallery_p5.png  1x,
                        ./images/gallery/gallery_p5@2x.png 2x
                      " src="./images/gallery/gallery_p5.png" alt="image for gallery" />
    </div>
    <div class="grid__item">
      <img class="grid__img-height-1" srcset="
                        ./images/gallery/gallery_p6.png  1x,
                        ./images/gallery/gallery_p6@2x.png 2x
                      " src="./images/gallery/gallery_p6.png" alt="image for gallery" />
    </div>
    <div class="grid__item">
      <img class="grid__img-height-1" srcset="
                        ./images/gallery/gallery_p7.png  1x,
                        ./images/gallery/gallery_p7@2x.png 2x
                      " src="./images/gallery/gallery_p7.png" alt="image for gallery" />
    </div>
    <div class="grid__item">
      <img class="grid__img-height-1" srcset="
                        ./images/gallery/gallery_p8.png  1x,
                        ./images/gallery/gallery_p8@2x.png 2x
                      " src="./images/gallery/gallery_p8.png" alt="image for gallery" />
    </div>
    <div class="grid__item">
      <img class="grid__img-height-1" srcset="
                        ./images/gallery/gallery_p9.png  1x,
                        ./images/gallery/gallery_p9@2x.png 2x
                      " src="./images/gallery/gallery_p9.png" alt="image for gallery" />
    </div>
    <div class="grid__item">
      <img class="grid__img-height-1" srcset="
                        ./images/gallery/gallery_p10.png  1x,
                        ./images/gallery/gallery_p10@2x.png 2x
                      " src="./images/gallery/gallery_p10.png" alt="image for gallery" />
    </div>
  
  </div>
</section>