<header class="page-header">
  <a class="logo" href="./index.html" aria-label="логотип">логотип</a>
  <button class="mobile-menu-open" type="button">o</button>
  <button class="mobile-menu-close" type="button" data-geo-open>x</button>
  <button type="button" class="form" data-form-open>Buy now</button>
  <nav class="page-header__nav">
    <ul class="page-header__list">
      <li class="page-header__items">
        <a class="page-header__link" href="#home">Home</a>
      </li>
      <li class="page-header__items">
        <a class="page-header__link" href="#aboutus">About us</a>
      </li>
      <li class="page-header__items">
        <a class="page-header__link" href="#howit'smade">How it's made?</a>
      </li>
      <li class="page-header__items">
        <a class="page-header__link" href="#ourproducts">Our products</a>
      </li>
      <li class="page-header__items">
        <a class="page-header__link" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
