<header class="page-header" id="home">
  <div class="container container--flex">
    <div class="page-header__container">
      <a class="logo" href="./index.html">
        <svg width="199" height="50">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="mobile-menu-open" type="button">
        <svg class="mobile-menu-open__icon" width="32" height="32">
          <use href="./images/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="button-buy-tablet" type="button" data-modal-open>
        <span class="button-buy-tablet__text">Buy now</span>
        <svg class="button-buy__icon" width="20" height="20">
          <use href="./images/sprite.svg#icon-next"></use>
        </svg>
      </button>
    </div>

    <div class="menu">
      <div class="menu__container">
        <div class="container-button-menu">
          <button class="mobile-menu-close" type="button">
            <svg class="mobile-menu-close__icon" width="32" height="32">
              <use href="./images/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <button class="button-buy" type="button" data-modal-open>
            <span class="button-buy__text">Buy now</span>
            <svg class="button-buy__icon" width="20" height="20">
              <use href="./images/sprite.svg#icon-next"></use>
            </svg>
          </button>
        </div>
        <nav class="page-header__nav">
          <ul class="page-header__list list">
            <li class="page-header__items">
              <a class="page-header__link link" href="#home">Home</a>
            </li>
            <li class="page-header__items">
              <a class="page-header__link link" href="#about">About us</a>
            </li>
            <li class="page-header__items">
              <a class="page-header__link link" href="#made">How it's made?</a>
            </li>
            <li class="page-header__items">
              <a class="page-header__link link" href="#products"
                >Our products</a
              >
            </li>
            <li class="page-header__items">
              <a class="page-header__link link" href="#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
