<section class="hero">
  <div class="container">
    <div class="hero__wrap">
      <h1 class="hero__title">ice cream made with passion</h1>
      <ul class="hero__list list">
        <li class="hero__item">
          <a class="hero__link link" href="#">Products</a>
        </li>
        <li class="hero__item">
          <a class="hero__link link" href="#">How it’s made?</a>
        </li>
      </ul>
    </div>
    <ul class="quantity list">
      <li class="quantity__item">
        <p class="quantity__number">16</p>
        <p class="quantity__descriotion">cafes</p>
      </li>
      <li>
        <p class="quantity__number">23</p>
        <p class="quantity__description">food trucks</p>
      </li>
    </ul>

    <p class="hero__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <button class="hero__button" type="button"></button>
  </div>
</section>
