
<!-- geo modal -->

<div class="backdrop-geo is-hidden" geo-modal>
  <div class="modal-geo">
    <button type="button" class="modal-button__close" data-geo-close>
      <svg class="modal-close__icon" width="26" height="26">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-title">find us on the map</p>
    <iframe class="geo-frame"
      src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d20309.098794482732!2d30.472123299999996!3d50.485094687772566!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1657998635865!5m2!1sru!2sua"
      width="360" height="360" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>

      width="400"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

  </div>
</div>

<!-- Franchise modal -->

<div class="backdrop-franchise is-hidden" franchise-modal>
 <div class="franchise-modal">
    <button type="button" class="modal-button__close" modal-franchise-close>
      <svg class="modal-close__icon" width="26" height="26">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal-title">Contact franchise manager</h3>
    <form class="modal-form" action="#">

      <p class="franchise-modal__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Vulputate odio ut enim blandit. Aliquam etiam erat velit scelerisque in.</p>
    
      <div class="form-field">
        <label class="form-input__text" for="Name">Name</label>
        <div class="form-input__wrappy">
          <input class="form-input" type="text" name="Name" id="Name" />
          <svg class="form-input__icon" width="18" height="18">
            <use href="./images/sprite-modals.svg#person-modal"></use>
          </svg>
        </div>
      </div>
      <div class="form-field">
        <label class="form-input__text" for="Mail">Mail</label>
        <div class="form-input__wrappy">
          <input class="form-input" type="email" name="Почта" id="Mail" />
          <svg class="form-input__icon" width="18" height="18">
            <use href="./images/sprite-modals.svg#email-modal"></use>
          </svg>
        </div>
      </div>
        <button class="submit-button" type="submit">
          Submit
        </button>
      </form>
  </div>
</div>

<!-- Order modal -->

<div class="backdrop is-hidden " data-modal>
  <div class="modal">

    <button class="modal-button__close" data-modal-close>

      <svg width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <p class="modal-title">enter data for order</p>
    <form class="modal-form" action="#">
        
          <div class="form-field">
            <label class="form-input__text" for="Name">Name</label>
            <div class="form-input__wrappy">
              <input class="form-input" type="text" name="Name" id="Name" />
              <svg class="form-input__icon" width="18" height="18">
                <use href="./images/sprite-modals.svg#person-modal"></use>
              </svg>
            </div>
          </div>
          <div class="form-field">
            <label class="form-input__text" for="phone">Phone</label>
            <div class="form-input__wrappy">
              <input class="form-input" type="tel" name="phone" id="phone" />
              <svg class="form-input__icon" width="18" height="18">
                <use href="./images/sprite-modals.svg#phone-modal"></use>
              </svg>
            </div>
          </div>
          <div class="form-field">
            <label class="form-input__text" for="Mail">Mail</label>
            <div class="form-input__wrappy">
              <input class="form-input" type="email" name="Почта" id="Mail" />
              <svg class="form-input__icon" width="18" height="18">
                <use href="./images/sprite-modals.svg#email-modal"></use>
              </svg>
            </div>
          </div>
        
        
          <div class="form-field">
            <label class="form-input__text" for="product-name">Product</label>
            <div class="form-input__wrappy">
              <svg class="form-input__icon" width="15" height="15">
                <use href="./images/sprite-modals.svg#modal-option"></use>
              </svg>
              <select class="form-field__select" id="product-name" name="product-name">
                <option value="">Ice cream</option>
                <option value="">Ice coffee</option>
                <option value="" selected>Milkshake</option>
              </select>
            </div>
          </div>
        
          <div class="form-field">
            <label class="form-input__text" for="size">Size</label>
            <div class="form-input__wrappy">
              <svg class="form-input__icon" width="15" height="15">
                <use href="./images/sprite-modals.svg#modal-option"></use>
              </svg>
              <select class="form-field__select" id="size" name="size">
                <option value="xs">XS</option>
                <option value="s">S</option>
                <option value="m">M</option>
                <option value="l" selected>L</option>
              </select>
            </div>
          </div>
        
          <div class="form-field">
            <label class="form-input__text" for="taste">Taste</label>
            <div class="form-input__wrappy">
              <svg class="form-input__icon" width="15" height="15">
                <use href="./images/sprite-modals.svg#modal-option"></use>
              </svg>
              <select class="form-field__select" id="taste" name="taste">
                <option value="xs">Choco Life</option>
                <option value="s">Banana Dream</option>
                <option value="m" selected>Limonchello</option>
              </select>
            </div>
          </div>
        
          <div class="form-field">
            <label class="form-input__text">
              Quantity
              <input class="form-input__quantity" type="number" name="quantity" min="0" max="999" step="1" value="0" />
            </label>
          </div>
        
          <div class="form-field">
            <label class="form-input__text">
              Comment
              <textarea class="form-field__textarea" name="feedback" placeholder="Comment to the order"></textarea>
            </label>
        
            <div class="form-field__button">
              <button class="button submit-button" type="submit">
                Buy now
              </button>
            </div>
          </div>
        </form>

        <div class="form-field__button">
          <button class="button submit-button" type="submit">
            Buy now<svg width="10px" height="10px" class="corner-svg">
              <use href="./images/sprite.svg#icon-close"></use>
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
