<div class="backdrop is-hidden" data-geo>
  <div class="modal-geo">
    <button type="button" class="modal-close" data-geo-close>
      <svg class="modal-close__icon" width="26" height="26">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p>Geo</p>
  </div>
</div>

<div class="backdrop-form is-hidden" data-form>
  <div class="modal-form">
    <button type="button" class="modal-close-form" data-form-close>
      <svg class="modal-close__icon" width="26" height="26">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p>Form</p>
  </div>
</div>
