<section class="products__section" id="products">
        <div class="container">
            <p class="products__label">100% natural</p>
            <h2 class="products__title">products</h2>
            <ul class="card__list list">
                <li class="card__item card--pink">
                    <div class="card-list__container">
                    <h3 class="card__title">ice cream</h3>
                    <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <button type="button" class="card__btn">
                        <svg class="card__icon" width="40" height="40">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                    <p class="card-list__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est laborum sed, magni consectetur reprehenderit architecto pariatur velit aliquid fuga accusantium. Ea corporis ducimus aperiam pariatur odit, nesciunt quo. Fugiat dolorum eaque repellendus quod accusamus distinctio suscipit laboriosam voluptate aliquam ipsum!</p>
                    </div>
                </li>
                <li class="card__item card--coffee">
                    <div class="card-list__container">
                    <h3 class="card__title">ice coffee</h3>
                    <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <button type="button" class="card__btn">
                        <svg class="card__icon" width="40" height="40">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                    </div>
                </li>
                <li class="card__item card--green">
                    <div class="card-list__container">
                    <h3 class="card__title">milkshakes</h3>
                    <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                    <button type="button" class="card__btn">
                        <svg class="card__icon" width="40" height="40">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>
</body>