.modal,
.modal-geo,
.modal-franchise,
.modal-about {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 90vh;
  min-height: 581px;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 250ms;
  transition-timing-function: $timing-function;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 40px;
  border-radius: 8px;
  z-index: 9999;
  opacity: 0.9;
  background-color: #bb9ca3;
  

  @media screen and (max-width: 767px) {
    width: 400px;
  }
}

.modal-geo,
.modal-franchise,
.modal-about {
height: fit-content;
}

.modal-about__frame{
  margin-top: 30px;
  border-radius: 8px;
}

.modal-about__text{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: $color-footer-bg;
}


.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.backdrop,
.backdrop-geo,
.backdrop-franchise,
.backdrop-about {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;
  z-index: 999;
  pointer-events: auto;

  &.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
}

.modal-button__close {
  width: 30px;
  height: 30px;
  margin-left: auto;
  background: linear-gradient(-45deg, #f857a6, #ff5858);
  fill: $color-white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow fill 250ms $timing-function;
  margin-bottom: 20px;

  &:hover,
  &:focus {
    box-shadow: 0 0 30px $color-accent;
    box-shadow: 0 0 20px $color-main-bg;
    fill: $icon-color;
  }
}


.form-field {
  display: flex;
  flex-direction: column;
}

.form-field__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-title {
  width: 210px;
  font-family: Titan One, cursive;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  // margin-bottom: 10px;
  text-transform: uppercase;
  color: $color-accent;
  text-shadow: 0 0 5px #ece2e4, 0 0 10px #ece2e4, 0 0 15px #ece2e4;

  @include desktop {
    width: 400px;
  }
}

.form-input {
  border-radius: 8px;
  border: 1px solid $color-accent;
  width: 100%;
  height: auto;
  padding-left: 26px;
  padding-right: 2px;
  color: $color-accent;
  outline: none;
}

.form-input__text {
  color: $color-white;
  margin-bottom: 3px;
}

.form-field__select {
  border-radius: 8px;
  outline: none;
  border: 1px solid $color-accent;
  padding-left: 26px;
  padding-right: 2px;
  color: $color-accent;
  width: 100%;
}

.submit-button {

  background: linear-gradient(-45deg, #f857a6, #ff5858);
  padding: 10px 20px;
  border: none;
  border-radius: 21px;
  outline: none;
  overflow: hidden;
  position: absolute;
  margin-top: 30px;
  left: 50%;
  color: #FFF;
  font-size: 18px;
  cursor: pointer;
  transform: translateX(-50%);

  &:hover:before {
    left: 110%;
    transition: .3s;
  }

  &:before {
    content: '';
    background: rgba(#FFF, .3);
    height: 100%;
    width: 65px;
    position: absolute;
    top: 0;
    left: -100%;
    transform: skew(-45deg);
    transition: 0s;
  }

  @include mobile {

    &:hover,
    &:focus {
      font-size: 18px;
      line-height: 1.3;

    }
  }

  @include tablet {

    &:hover,
    &:focus {
      font-size: 18px;
      line-height: 1.3;
      // margin-left: 20px;
    }
  }

  @include desktop {
    margin-right: 18px;
    margin-left: auto;

    &:hover,
    &:focus {
      font-size: 21px;
      line-height: 1.2;
      margin-left: auto;
    }
  }
}

.submit-button.franchise {
  bottom: 2.5%;
  @include mobile {
     bottom: 2.5%;
  }
}

.form-input__icon {
  position: absolute;
  fill: $color-accent;
  top: 52%;
  left: 3px;
  transform: translateY(-50%);

}

.form-input__wrappy {
  position: relative;
}

.form-input__quantity {
  border-radius: 8px;
  border: 1px solid $color-accent;
  color: $color-accent;
  outline: none;
  margin-bottom: 10px;
  padding-left: 3px;
}

.form-field__textarea {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid $color-accent;
  color: $color-accent;
  margin-bottom: 10px;
  width: 100%;
  height: 80px;
  resize: none;
  outline: none;
  margin-bottom: 20px;

  &::placeholder {
    color: $color-accent;
  }
}

.geo-frame {
  padding-top: 10%;
}

// Franchise
.franchise-modal__text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: $color-footer-bg;
}

.hidden {
  overflow: hidden;
}