.about {
  padding-top: 60px;

  background-color: $color-footer-bg;
  background-image: url(../images/mobile-about-milk.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.about__subtitle {
  margin-bottom: 15px;

  font-family: 'Titan One';
  @include font(400, 18, 21, null);
  text-align: center;
  text-transform: uppercase;

  color: $color-second-bg;
}

.about__title {
  margin-bottom: 32px;

  font-family: 'Titan One';
  @include font(400, 34, 39, .04em);
  text-align: center;
  text-transform: uppercase;
  color: $color-accent;
}

.about__image {
  margin-bottom: 40px;
  width: 280px;
  height: 279px;
}

.about__item {
  margin-bottom: 28px;

  &:nth-child(2) {
    margin-bottom: 25px;
  }

  &:nth-child(3) {
    margin-bottom: 20px;
  }
}



.about__description {
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $color-main-text;
}

.about__text {
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $color-second-text;
}

.about__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 176px;
  height: 44px;

  @include font(700, 14, 18, null);
  color: $color-accent;

  background-color: $color-white;
  border: none;
  border-radius: 22px;

  &:hover,
  &:focus {
    background-color: $color-button-hover;
  }
}

.about__icon {
  margin-top: 2px;
  margin-left: 7px;
  fill: currentColor;
}