.rc__section {
    margin: 60px 0;
}

.rc__title, .slide, .feedback{
    display: none;
}

.icon {
    width: 85px;
    border-radius: 50%;
    margin: 0px auto 32px auto;
}

.rc__text-thumb {
    position: relative;
    background: #FAFAFA;
    padding: 43px 50px 17px 50px;

    @media screen and (min-width: 768px) {
        padding: 37px 6px 36px 6px;
    }

    @media screen and (min-width: 1200px) {
        padding: 31px 74px;
    }

}

.rc__bottom-border {
    background: repeating-linear-gradient(#fafafa, #fafafa 30px, #E1E1E1 20px, #E1E1E1 31px)
}

.rc__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 260%;
    text-align: center;
    color: #000000;
    margin: 0 8px 0 15px;
    position: relative;
    z-index: 2;
    @media screen and (min-width: 768px) {
        margin: 0 45px 0 49px;
        font-size: 14px;
        line-height: 222%;
        letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1200px) {
        margin: 0 34px 0 36px;
        font-size: 16px;
        line-height: 195%;

    }
}

.rc__text::before {
    content: '';
    background-image: url(../images/customers/CRLapky.png);
    width: 54px;
    height: 40px;
    display: block;
    background-size: contain;
    position: absolute;
    top: -20px;
    left: 0px;
    z-index: -1;
    @media screen and (min-width: 768px) {
        top: 0;
        left: -30px;
    }
    @media screen and (min-width: 1200px) {
        top: 0;
        left: -40px;
        line-height: 194%;
    }
}

.rc__dots_block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rc__slider {
    position: relative;
}

.rc-subtitle {
    text-align: center;
    margin: 36px 0 32px 0;
    position: relative;
    margin-bottom: 32px;
    padding-top: 36px;
}

// .rc-subtitle::before {
//     content: '';
//     background-image: url(../images/customers/dots.png);
//     width: 32px;
//     height: 4px;
//     background-size: contain;
//     @media screen and (min-width: 768px) {
//         left: 48%;
//     }
// }

#btn-next,
#btn-prev {
    position: absolute;
    display: inline-block;
    padding: 9px;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #fff5f6 inset, 0 0 0 0 #fff5f6;
    font-weight: bold;
    transition: .15s ease-in-out;
    cursor: pointer;
    opacity: 0.4;
    height: 50px;
    width: 50px;
    top: 522px;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    z-index: 2;
        @media screen and (min-width: 768px) {
                top: 333px;
            }
}

#btn-next:hover,
#btn-prev:hover {
    box-shadow: 0 0 10px 0 #d41443 inset, 0 0 10px 4px #fff5f6;
    color: black;
}

#btn-prev {
    left: 0;
    top: 527px;
    transform: rotate(180deg);
        @media screen and (min-width: 768px) {
            top: 338px;
        }
    
}

#btn-next {
    right: 0;
}

.button-block {
    width: 100%;
    height: 50px;
}

.dot {
    background: #D9D9D9;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
}
.dot:hover{
    background-color: #d41443;
    box-shadow: 0 0 6px 2px #d41443, 0 0 #d41443;
}

.dot:not(last-child) {
    margin-right: 18px;
}

.dot:last-child {
    margin-right: 0;
}


.active_dot {
    background-color: white;
}
.active_dot:hover{
    background-color: white ;
    box-shadow: none
}

.dot__current {
    width: 100%;
    height: 100%;
    margin-bottom: 3px;
}

.active {
    display: block;
}

.dot {
    .dot__current {
        display: none;
    }
}

.active_dot {
    .dot__current {
        display: block;
    }
}

.rc-subtitle::before {
    content: '';
    background-image: url(../images/customers/CRDots.png);
    width: 32px;
    height: 4px;
    top: 16px;
    left: 124px;
    color: #C7133E;
    position: absolute;
    @media screen and (min-width: 768px) {
        left: 294px;
    }
    @media screen and (min-width: 1200px) {
        left: 468px;
    }
}