.grid {
    &__img-height-1 {
        height: 138px;
        width: 138px;
        display: block;
    }

    &__img-height-2 {
        height: 283px;
        width: 283px;
        display: block;
    }
}