.hero {
  margin: 0 auto;
  padding-top: 194px;
  padding-bottom: 158px;
  background-color: $color-main-bg;
  overflow: hidden;

  @include mobile {
    max-width: 320px;
  }

  @include tablet {
    max-width: 768px;
    padding-top: 92px;
    padding-bottom: 56px;
  }

  .container {
    position: relative;
  }
}

.hero__icecreem {
  position: absolute;
  z-index: 1;
  right: 32px;
  bottom: -158px;
  width: 171px;
  height: 410px;

  @include tablet {
    width: 143px;
    height: 336px;
    right: 303px;
    bottom: -56px;
  }
}

.hero__circle {
  position: absolute;
  left: 36px;
  bottom: -83px;
  z-index: 0;

  width: 346px;
  height: 344px;
  background-color: $color-second-bg;
  border-radius: 50%;

  @include tablet {
    left: 248px;
    bottom: -16px;
    width: 335px;
    height: 333px;
  }
}

.hero__girl {
  display: none;

  @include tablet {
    position: absolute;
    right: 32px;
    bottom: -56px;
    z-index: 1;
    display: block;
    width: 190px;
    height: 150px;
  }
}

.hero__milk {
  display: none;

  @include tablet {
    position: absolute;
    left: 32px;
    bottom: -40px;
    display: block;
    width: 152px;
    height: 154px;
  }
}

.hero__wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.hero__position {
  @include tablet {
    margin-bottom: 61px;
  }
}

.hero__title {
  position: relative;
  z-index: 2;

  max-width: 218px;
  margin-bottom: 20px;

  font-family: 'Titan One';
  @include font(400, 26, 30, .04em);
  text-transform: uppercase;
  color: $color-white;

  @include tablet {
    max-width: 162px;
    @include font(400, 22, 25, .04em);
  }

  &--accent {
    font-size: 48px;
    line-height: 96.5%;
    color: #D41443;

    @include tablet {
      font-size: 34px;
      line-height: 90.5%;
    }
  }
}

.hero__list {
  display: flex;
}

.hero__item {
  &:not(:last-child) {
    margin-right: 9.2px;
  }
}

.hero__link {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 61.2px;
  height: 24px;

  @include font(400, 8, 10, null);
  color: $color-white;

  background-color: $color-accent;
  border-radius: 20px;



  &--white {
    width: 82.8px;

    color: $color-accent;

    background-color: $color-white;
  }
}

.quantity {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
  }
}

.quantity__item {
  position: relative;

  display: block;
  width: 43px;
  height: 44px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.quantity__circle {
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $color-white;
}

.quantity__number {
  position: relative;
  z-index: 1;
  font-family: 'Titan One';
  @include font(400, 28, 32, .04em);
  text-transform: uppercase;
  color: $color-accent;
}

.quantity__description {
  @include font(400, 8, 10, null);

  color: $color-white;
}

.description {
  position: relative;
  z-index: 1;
  display: none;

  @include tablet {
    display: block;
    margin-left: 152px;
  }
}

.description__title {
  max-width: 114px;
  margin-bottom: 7px;

  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
  color: $color-white;
}

.description__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;

  background-color: $color-white;
  border-radius: 50%;
  fill: $color-accent;

  border: none;
}