.products__section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.products__label {
  margin-bottom: 15px;

  font-family: Titan One, cursive;

  @include font(400, 18, 21, null);

  text-align: center;
  text-transform: uppercase;

  color: var(--color-second-bg);

  @include tablet {
    margin-bottom: 18px;

    @include font(null, 26, 30, null);
  }

  @include desktop {
    margin-bottom: 16px;

    @include font(null, 30, 34, null);
  }
}

.products__title {
  margin-bottom: 148px;

  font-family: Titan One, cursive;

  @include font(400, 34, 39, 0.04em);

  text-align: center;
  text-transform: uppercase;

  color: var(--color-accent);

  @include tablet {
    margin-bottom: 158px;

    @include font(null, 48, 55, null);
  }

  @include desktop {
    margin-bottom: 281px;

    @include font(null, 58, 66, 0.06em);
  }
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @include desktop {
    gap: 32px;
  }
}

.card__item {
  // display: flex;
  // flex-direction: column;
  // align-items: center;

  padding-top: 160px;
  padding-bottom: 40px;

  width: 100%;

  border-radius: 24px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 140px;
    }
  }

  @include tablet {
    padding-top: 126px;
    padding-bottom: 32px;

    width: calc((100% - 64px) / 3);
  }

  @include desktop {
    padding-top: 165px;
    padding-bottom: 60px;
  }
}

.card--pink {
  position: relative;

  background-color: var(--color-main-bg);

  &::after {
    content: '';
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%);

    width: 280px;
    height: 280px;
    background-image: url('../images/pic-1-mob.png');

    @include retina {
      background-image: url('../images/pic-1-mob@2x.png');
    }

    @include tablet {
      top: -27%;

      width: 224px;
      height: 224px;

      background-image: url('../images/pic-1-tab.png');

      @include retina {
        background-image: url('../images/pic-1-tab@2x.png');
      }
    }

    @include desktop {
      top: -45%;

      width: 368px;
      height: 394px;

      background-image: url('../images/pic-1.png');

      @include retina {
        background-image: url('../images/pic-1@2x.png');
      }
    }
  }
}

.card--coffee {
  position: relative;

  background-color: var(--color-card-coffee);

  &::after {
    content: '';
    position: absolute;
    top: -28%;
    left: 50%;
    transform: translate(-50%);

    width: 280px;
    height: 280px;
    background-image: url('../images/pic-2-mob.png');

    @include retina {
      background-image: url('../images/pic-2-mob@2x.png');
    }

    @include tablet {
      top: -27%;

      width: 224px;
      height: 224px;

      background-image: url('../images/pic-2-tab.png');

      @include retina {
        background-image: url('../images/pic-2-tab@2x.png');
      }
    }

    @include desktop {
      top: -45%;

      width: 368px;
      height: 394px;

      background-image: url('../images/pic-2.png');

      @include retina {
        background-image: url('../images/pic-2@2x.png');
      }
    }
  }
}

.card--green {
  position: relative;

  background-color: var(--color-card-green);

  &::after {
    content: '';
    position: absolute;
    top: -28%;
    left: 50%;
    transform: translate(-50%);

    width: 280px;
    height: 280px;
    background-image: url('../images/pic-3-mob.png');

    @include retina {
      background-image: url('../images/pic-3-mob@2x.png');
    }

    @include tablet {
      top: -27%;

      width: 224px;
      height: 224px;

      background-image: url('../images/pic-3-tab.png');

      @include retina {
        background-image: url('../images/pic-3-tab@2x.png');
      }
    }

    @include desktop {
      top: -45%;

      width: 368px;
      height: 394px;

      background-image: url('../images/pic-3.png');

      @include retina {
        background-image: url('../images/pic-3@2x.png');
      }
    }
  }
}

.card-list__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  position: relative;
  margin-bottom: 70px;

  font-family: Titan One, cursive;

  @include font(400, 20, 23, 0.04em);

  text-align: center;

  text-transform: uppercase;

  color: var(--color-white);

  &::after {
    content: '...';
    position: absolute;
    top: 38px;
    left: 40%;
    color: var(--color-white);
  }

  @include desktop {
    @include font(null, 30, 34, null);
  }
}

.card__text {
  margin-bottom: 32px;

  max-width: 200px;

  @include font(700, 14, 22, 0.04em);

  text-align: center;

  color: var(--color-white);

  @include tablet {
    max-width: 160px;

    @include font(null, 14, 25, null);
  }

  @include desktop {
    margin-bottom: 60px;

    max-width: 241px;

    @include font(null, 16, 28, null);
  }
}

.card__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-button-hover);
  }
  &:active {
    box-shadow: inset 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.card__icon {
  fill: var(--color-accent);
}
